/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
}
  *, *::before, *::after {
    box-sizing: inherit;
}
/* inter-regular - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
/* inter-500 - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/inter-v13-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
/* inter-600 - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/inter-v13-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
/* inter-700 - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/inter-v13-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* general styles start */
body {
	font-family: "Inter";
	font-weight: 400;
	color: #3C3C3B;
}

a:active,
a:hover,
a {
	text-decoration: none;
}

/* general styles end */

/*header styles start */
header {
	width: 1920px;
	height: 128px;
	background-color: #4B565E;
}

.header_wrap {
	width: 1920px;
	height: 80px;
	margin: 0 auto;
	padding: 0 240px;
}

.header__main {
	display: flex;
	width: 1440px;
	height: 80px;
	padding: 0 60px;
	margin: 0 auto;
	align-items: center;
}

.header__main--logo-icon {
	width: 61px;
	height: 40px;
}

.header__main--buttons {
	width: 755px;
	height: 19px;
	display: inline-block;
	margin-left: 40px;
}

.header__main--buttons--items {
	width: 273px;
	display: flex;
	justify-content: space-between;
}

.header__main--buttons--items .items {
	font-size: 16px;
	font-weight: 600;
	line-height: 19.36px;
	color: #F9FAFB;
}

.header__main--phone {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 194px;
	height: 28px;
	margin-left: 40px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19.36px;
	color: #FFFFFF;
}

.header__main--like-logo {
	display: inline-block;
	margin: 0 40px;
}

.header__minor {
	width: 1920px;
	height: 48px;
	background-color: #F0BA4E;
}

.header__minor-wrap {
	display: flex;
	align-items: center;
	grid-gap: 24px;
	width: 1320px;
	height: 48px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 600;
	line-height: 16.94px;
}

.header__minor--catalog-button {
	width: 83px;
	height: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__minor--buttons-items {
	width: 696px;
	display: flex;
	
	grid-gap: 24px;
}

.sr-only {
	position: absolute;
  
	width: 1px;
	height: 1px;
	padding: 0;
  
	overflow: hidden;
  
	white-space: nowrap;
  
	border: 0;
}

input#search {
	width: 400px;
	height: 28px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #3C3C3B;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.36px;
	color: #4B565E99;
}

.search-icon {
	margin-left: -29px;
	background: transparent;
	border: none;
	position:absolute;
	cursor: pointer;
}

.header__minor--location {
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	color: #FFFFFF;
}
/*header styles end */

/* Title picture styles start */
.main {
	width: 1920px;
}

.main__title-picture {
	width: 1920px;
	height: 720px;
	background: 
	url(../images/title_page.png);
}

.main__title-picture-wrap {
	width: 1058px;
	height: 720px;
	padding: 304px 215px 304px 300px;
}

.main__title-picture-wrap--header {
	width: 543px;
	height: 112px;
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
	color: #F0BA4E;
}
/* Title picture styles end */
/* Advantages styles start */
.main__advantages {
	width: 1319px;
	display: flex;
	grid-gap: 28px;
	margin: 28px auto;
	font-size: 18px;
	font-weight: 500;
	line-height: 21.78px;
	color: #A1A0A0;
}

.main__advantages .items {
	display: flex;
	width: 421px;
	height: 72px;
	align-items: center;
}

.advantages-logos {
	margin-right: 16px;
}

.high-text {
	color: #3C3C3B;
}
/* Advantages styles end */
/* Product list styles start */
.main__product-list {
	width: 1320px;
	height: 463px;
	margin: 0 auto 56px;
}

.main__product-list--nav {

}

.main__product-list--nav-pages {
	width: 114px;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
}

.main__product-list--nav-pages .items {
	font-size: 16px;
	line-height: 19.36px;
	color: #A1A0A0;
}

.main__product-list--nav-pages .active-link {
	color: #F0BA4E;
}

.main__product-list--product-cards {
	display: grid;
	grid-gap: 28px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.box-shadow {
box-shadow: 0px 20px 50px 0px #3C3C3B12;
}

.product-list__product-cards-card1 {
	width: 421px;
	height: 428px;
	grid-area: 1/1/3/2;
	box-shadow: 0px 20px 50px 0px #3C3C3B12;

}

.product-card1__subheading-wrap {
	width: 389px;
	height: 68px;
	margin: 16px 16px 30px;
}

.product-card__subheading {
	font-size: 28px;
	font-weight: 600;
	line-height: 33.89px;
}

.product-pics {
	position: absolute;
	z-index: -1;
}

.product-card__button {
	width: 178px;
	height: 40px;
	display: flex;
	margin: 94px 16px 16px auto; 
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	line-height: 16.94px;
}

.product-card1__button-position {
	margin: 288px 16px 16px 227px;
}

.product-list__product-cards-card2 {
	width: 421px;
	height: 200px;
	grid-area: 1/2/2/3;
}

.product-list__product-cards-card2 h2 {
	width: 91px;
	margin: 16px 16px 0 auto;
}

.product2-pic-position {
	display: inline-block;
	margin-top: -33px;
}

.product-list__product-cards-card3 h2 {
	width: 231px;
	margin: 16px auto 0 16px;
}

.card3-and4-button {
	margin: 60px 0 16px 16px;
	display: inline-flex;
}

.product3-pic-position {
	display: inline-block;
	margin: -24px 0px 0 18px;
}

.product-list__product-cards-card4 h2 {
	width: 218px;
	margin: 16px auto 0 16px;
}

.product4-pic-position {
	margin: -83px 0 0 12px;
} 

.product-list__product-cards-card5 h2 {
	width: 336px;
	margin: 16px auto 0 16px;
}

.product5-pic-position {
	margin: 16px 0 0 15px;
}
/* Product list styles end */
/* Popular products styles start */
.popular-products {
	width: 1412px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 56px;
}

.popular-products__left-arrow {
    position: absolute;
    top: 247px;
    left: 2px;
    z-index: 1;
}

.popular-products__right-arrow {
	position: absolute;
    top: 247px;
    right: 2px;
    z-index: 1;
	transform: rotate(180deg)
}

.popular-products-wrap {
	width: 1320px;
	height: 491px;
	margin: 0 auto;
}

.popular-products__header-and-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 28px;
}

.popular-products__header {
	font-size: 28px;
	font-weight: 600;
	line-height: 33.89px;
}

.popular-products__link {
	font-size: 18px;
	font-weight: 600;
	line-height: 21.78px;
	color: #F0BA4E;
}

.popular-products__product-cards {
	display: flex;
	grid-gap: 28px;
}

.product-cards__card {
	width: 309px;
	height: 429px;
}

.card__product-pic {
	margin: 24px 24px 8px;
	position: relative;

}

.card__product-pic--like-discount-logo {
	display: flex;
	width: 261px;
	position: absolute;
	justify-content: space-between;
	top: 0;
	left: 0;
}

.popular-products__product-name {
	width: 261px;
	margin: 0 24px 8px;
	font-size: 20px;
	font-weight: 600;
	line-height: 24.2px;
	color: #3C3C3B;
}

.popular-products__product-article {
	width: 261px;
	margin: 0 24px 8px;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.36px;
	color: #3C3C3B;
}

.popular-products__product-price {
	width: 256px;
	height: 73px;
	margin: 0 29px 8px 24px;
	
}

.popular-products__product-price--stroke {
	margin: 12px 0 6px;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.36px;
	color: #A1A0A0;
}

.popular-products__product-price-numbers {
	display: flex;
	width: 147px;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.36px;
	color: #3C3C3B;
}

.popular-products__product-price--actual-price {
	font-size: 20px;
	font-weight: 600;
	line-height: 24.2px;
}

.popular-products__buying-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 261px;
	margin: 0 24px;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.36px;
	color: #3C3C3B;
}

.popular-products__buying-menu--amount {
	width: 114px;
	height: 53px;
}

.inline-block {
	display: inline-block;
	color: #3C3C3B;
}

.buying-menu__amount--num {
	font-size: 20px;
	font-weight: 500;
	line-height: 24.2px;
	margin: 10px 16px 0;
}

.popular-products__product-cards--cart-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 135px;
	height: 47px;
	border: 1px solid #F0BA4E;
	border-radius: 54px;
	color: #3C3C3B;
}

.card__product-pic--new-like-discount-logo {
	display: flex;
	width: 261px;
	position: absolute;
	justify-content: space-between;
	top: 0;
	left: 0;
}

.sale_logo {
	position: absolute;
	top: 55px;
	left: 0;
}
/* Popular products styles end */
/* Banner more than 10000 items styles start */
.banner-more-than-10000-items {
	width: 1320px;
	height: 251px;
	margin: 0 auto 56px;
	background: linear-gradient(#F6F6F6, #F6F6F6);
	position: relative;
}

.banner-more-than-10000-items__pic {
	position: absolute;
	right: 15px;
}

.banner-more-than-10000-items__header {
	font-weight: 500;
	font-size: 28px;
	line-height: 33.89px;
	padding: 28px 0 16px 28px;
}

.banner-more-than-10000-items__message {
	font-weight: 400;
	font-size: 20px;
	line-height: 24.2px;
	color: #A1A0A0;
	padding-left: 28px;
}

.banner-more-than-10000-items__link-to-catalog {
	font-weight: 600;
	font-size: 18px;
	line-height: 21.78px;
	padding: 99px 0 0 28px;
}
/* Banner more than 10000 items styles end*/

