/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
}
  *, *::before, *::after {
    box-sizing: inherit;
}
/* inter-regular - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
/* inter-500 - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/inter-v13-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
/* inter-600 - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/inter-v13-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
/* inter-700 - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/inter-v13-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* main styles start */
body {
	font-family: "Inter";
	color: #3C3C3B;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
}
/* main styles end */
/*header styles start */
header {
	width: 1920px;
	height: 128px;
	background-color: #4B565E;
}

.header_wrap {
	width: 1920px;
	height: 80px;
	margin: 0 auto;
	padding: 0 240px;
}

.header__main {
	display: flex;
	width: 1440px;
	height: 80px;
	padding: 0 60px;
	margin: 0 auto;
	align-items: center;
}

.header__main--logo-icon {
	width: 61px;
	height: 40px;
}

.header__main--buttons {
	width: 755px;
	height: 19px;
	display: inline-block;
	margin-left: 40px;
}

.header__main--buttons--items {
	width: 273px;
	display: flex;
	justify-content: space-between;
}

.header__main--buttons--items .items {
	font-size: 16px;
	font-weight: 600;
	line-height: 19.36px;
	color: #F9FAFB;
}

.header__main--phone {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 194px;
	height: 28px;
	margin-left: 40px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19.36px;
	color: #FFFFFF;
}

.header__main--like-logo {
	display: inline-block;
	margin: 0 40px;
}

.header__minor {
	width: 1920px;
	height: 48px;
	background-color: #F0BA4E;
}

.header__minor-wrap {
	display: flex;
	align-items: center;
	width: 1320px;
	height: 48px;
	margin: 0 auto;
}

.header__minor--catalog-button {
	width: 83px;
	height: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__minor--buttons-items {
	width: 696px;
	display: flex;
	margin-left: 24px;
	grid-gap: 24px;
}
/*header styles end */

