/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter';
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.25px;
  width: 1440px;
  height: 666px;
  padding: 55px 0;
}

h1 {
  font-weight: 700;
  font-size: 32px;
}

h2 {
  font-weight: 700;
  margin: 13px 0;
  font-size: 24px;
}

.wrapper {
  margin: 0 auto;
  width: 1170px;
   
}
 
.paragraph {
  margin: 10px auto;
  font-size: 24px;
}

.our-advantages {
  width: 1170px;
  margin: 50px 0 0 0;
  font-size: 18px;
  
}

.support {
  display: inline-block;
  width: 270px;
  height: 330px;
  vertical-align: top;
}

.sales-growth {
  display: inline-block;
  width: 270px;
  height: 330px;
  vertical-align: top;
}

.components-driven {
  display: inline-block;
  width: 270px;
  height: 330px;
  vertical-align: top;
}

.swap-the-icon {
  display: inline-block;
  width: 270px;
  height: 330px;
  vertical-align: top;
}