/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
}
  *, *::before, *::after {
    box-sizing: inherit;
}

  /* roboto-mono-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-mono-v23-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
  /* roboto-mono-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-mono-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*Общие правила для всех мобильных страниц*/
body {
    font-family: "Roboto Mono";
    size: 16px;
    font-weight: 300;
    
}

hr {
    height: 1px;
    background-color: #F0F0F0;
    border: none;
    margin: 45px 0;
}

.underline {
    width: 330px;
    margin: 0 auto;
}

footer p {
    font-size: 13px;
    text-align: center;
}

a:active,
a:hover,
a {
    text-decoration: none;
    color:#1A1A1A;
}

header .menu-icon {
    display: flex;
    justify-content: flex-end;
}

header img {
    display: block;
    margin: 15px 15px 0 0;
}
/*Общие правила для всех мобильных страниц*/

/*Правила для страницы home-mobile*/
.home-mobile {
    width: 360px;
    height: 640px;
}

.home-mobile .main-block {
    width: 270px;
    height: 267px;
    margin: 0 auto;
    margin-top: 149.5px;

}

.home-mobile .avatar-name {
    width: 141px;
    height: 167px;
    margin: 0 auto;
    text-align: center;
}

.home-mobile main p {
    margin: 33px auto;
}

.home-mobile h1 {
    margin-top: 32px;
    font-size: 26px;
    font-weight: 400;
}

.home-mobile .social-icons {
    margin: 0 auto;
    width: 140px;
    display: flex;
    justify-content: space-between;
}
/*Правила для страницы home-mobile*/

/*Правила для страницы home mobile menu*/
.home-mobile-menu {
    width: 360px;
    height: 640px;
}

.home-mobile-menu .mobile-menu {
    display: flex;
    width: 112px;
    height: 172px;
    margin: 0 auto;
    margin-top: 80px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.38px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-mobile-menu .mobile-buttons {
    width: 112px;
    height: 42px;
    text-align: center;
    padding-top: 7px;
}

.home-mobile-menu .home-button {
    color: #FFFFFF;
    background-color: #3F51B5;
    text-align: center;
}
/*Правила для страницы home mobile menu*/

/*Правила для страницы about-mobile*/
.about-mobile {
    width: 360px;
    height: 1814px;
}

.about-mobile main {
    padding-top: 60px;
    width: 330px;
    margin: 0 auto;
}

.about-mobile h1 {
font-size: 26px;
font-weight: 400;
line-height: 34.29px;
text-align: center;
}

.about-mobile section {
    width: 330px;
    line-height: 27px;
    margin: 25px auto;
    color: #555555;
}

.about-mobile .repeat {
    margin-top: 20px;
}

.about-mobile h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 26.38px;
    color: #1A1A1A;
    margin-bottom: 20px;
}

.about-mobile ul {
    margin-left: 18px;
    line-height: 27px;
    margin-bottom: 25px;
}

.about-mobile li {
    list-style-type: disc;
    color: #555555;
}

.about-mobile footer {
    margin-top: 80px;
}
/*Правила для страницы about-mobile*/

/*Правила для страницы blog-mobile*/
.blog-mobile {
    width: 360px;
    height: 1337px;
}

.blog-mobile .main-block {
    width: 270px;
    height: 267px;
    margin: 0 auto;
    margin-top: 75px;
}

.blog-mobile .avatar-name {
    width: 141px;
    height: 167px;
    margin: 0 auto;
    text-align: center;
}

.blog-mobile main p {
    margin: 33px auto;
}

.blog-mobile h1 {
    margin-top: 32px;
    font-size: 26px;
    font-weight: 400;
}

.blog-mobile .social-icons {
    margin: 0 auto;
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.blog-mobile .list-of-topic {
    margin-left: 14px;
}

.blog-mobile dt {
    font-weight: 400;
    line-height: 23.84px;
    color: #1A1A1A;
    margin-bottom: 5px;
}

.blog-mobile dd {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 30px;
}

.blog-mobile .navigation-buttom {
    width: 192px;
    margin: 40px 0 40px 70px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 21px;
    color: #1A1A1A;
}

.blog-mobile .underline {
    margin: 60px auto;
}
/*Правила для страницы blog-mobile*/