/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
}
  *, *::before, *::after {
    box-sizing: inherit;
}

  /* roboto-mono-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-mono-v23-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
  /* roboto-mono-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-mono-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Общие настройки */
body {
    font-family: "Roboto Mono";
    size: 16px;
    font-weight: 300;
    line-height: 27px;
    padding-top: 45px;
    color: #555555;
}

h1 {
    font-size: 26px;
    line-height: 34.29px;
    color: #1A1A1A;
    font-weight: 400;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 26.38px;
}

ul {
    margin-left: 18px;
    
}

li {
    list-style-type: disc;
    color: #555555;
}

a:active,
a:hover,
a {
    text-decoration: none;
    color:#1A1A1A;
}

.medium-font {
    font-weight: 400;
    line-height: 23.84px;
    color: #1A1A1A;
}

.text-font {
    font-size: 14px;
    line-height: 21px;
}

.label-font {
    font-size: 13px;
    line-height: 17.15px;
}

nav {
    width: 271px;
    height: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.home-button {
    display: inline-block;
    width: 57px;
    height: 32px;
    padding: 4px 9px 4px 9px;
}

.about-button {
    display: inline-block;
    width: 67px;
    height: 32px;
    padding: 4px 9px 4px 9px;
}

.blog-button {
    display: inline-block;
    width: 57px;
    height: 32px;
    padding: 4px 9px 4px 9px;
}

.avatar-name-icons {
    width: 270px;
    height: 267px;
    margin: 228px auto 0;
}

.avatar-and-name {
    margin: 0 auto 30px;
    width: 141px;
    height: 167px;
    text-align: center;
}

.name {
    margin-top: 30px;
}

.underline {
    margin: 60px auto;
    width: 555px;
}

hr {
    height: 1px;
    background-color: #F0F0F0;
    border: none;
}

footer p {
    color: #1A1A1A;
    text-align: center;
}
/* Общие настройки */

/* Настройки home-dekstop */
.home-dekstop {
    width: 1440px;
    height: 979px;
}

.home-dekstop .home-button {
    color: #FFFFFF;
    background-color: #3F51B5;
}

.home-dekstop .social-icons {
    margin: 25px auto 0;
    width: 139.86px;
    display: flex;
    justify-content: space-between;
}

.home-dekstop hr {
    background-color: #BFBFBF;
}

.inline-item {
    display: inline-block;
}
/* Настройки home-dekstop */

/* Настройки about-dekstop */
.about-dekstop {
    width: 1440px;
    height: 1535px;

}

.about-dekstop .about-button {
    color: #FFFFFF;
    background-color: #3F51B5;
}

.about-dekstop .content {
    width: 556px;
    height: 1178px;
    margin: 96px auto 82px;
}

.about-dekstop .content h1 {
    width: 79px;
    margin: 0 auto;
}

.about-dekstop .content p {
    margin: 26px 0 31px;
}

.about-dekstop .skills {
    margin-top: 15px;
    margin-bottom: 30px;
}

.about-dekstop .projects {
    margin-top: 15px;
}

.about-dekstop .underline {
    margin-top: 82px;
}
/* Настройки about-dekstop */

/* Настройки blog-dekstop */
.blog-dekstop {
    width: 1440px;
    height: 1212px;
}

.blog-dekstop .blog-button {
    color: #FFFFFF;
    background-color: #3F51B5;
}

.blog-dekstop .avatar-name-icons {
    margin-top: 118px;
}

.blog-dekstop .social-icons {
    margin: 25px auto 0;
    width: 139.86px;
    display: flex;
    justify-content: space-between;
}

.blog-dekstop .underline {
    margin-top: 45px;
}

.blog-dekstop section {
    width: 556px;
    margin: 0 auto;
}

.blog-dekstop dt,
.blog-dekstop dd {
    display: inline-block;
    margin-bottom: 34px;
}

.blog-dekstop dd {
    vertical-align: top;
    float: right;
}

.blog-dekstop .content nav {
    width: 192px;
    display: flex;
    margin: 49 auto 0;
    justify-content: space-between;
}

.blog-dekstop .underline-two {
    margin: 60px auto;
}
/* Настройки blog-dekstop */

/* Настройки blog-single-dekstop */
.blog-single-dekstop {
    width: 1440px;
    height: 3203px;
}

.blog-single-dekstop .blog-button {
    color: #FFFFFF;
    background-color: #3F51B5;
}

.blog-single-dekstop .name-date {
    width: 241px;
    height: 97px;
    margin: 116px auto 45px;
    text-align: center;
}

.blog-single-dekstop .name-date img {
    margin-right: -2px;
}

.blog-single-dekstop .elipse {
    width: 7px;
    height: 7px;
    border: 1px solid #636363;
    border-radius: 3px;
    margin: 0 6px;
}

.blog-single-dekstop .content {
    width: 556px;
    height: 1120px;
    margin: 0 auto 45px;
}

.blog-single-dekstop .english-text {
    margin: 30px 0;
}

.blog-single-dekstop .latinum-text {
    margin: 15px 0 45px;
}

.blog-single-dekstop .share {
    width: 555px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.blog-single-dekstop .social-icons {
    width: 140px;
    height: 18px;
    display: flex;
    justify-content: space-between;
}

.blog-single-dekstop .reply {
    width: 556px;
    height: 791px;
    margin: 60px auto;
}

.blog-single-dekstop .join-the-conversation {
    margin-bottom: 46px;
}

.blog-single-dekstop .join-the-conversation .medium-font {
    margin: 30px 0 13px;
}

.blog-single-dekstop .comment div {
    width: 555px;
    height: 140px;
    border: 1px solid #C4C4C4;
    margin: 7px 0 30px;
}

.blog-single-dekstop .box {
    width: 555px;
    height: 45px;
    border: 1px solid #C4C4C4;
    margin: 7px 0 30px;
}

.blog-single-dekstop .check-box {
    width: 16px;
    height: 16px;
    border: 1px solid #C4C4C4;
    vertical-align: top;
}

.blog-single-dekstop .post-comment {
    width: 176px;
    height: 46px;
    margin-top: 27px;
    padding: 10px 30px 10px 30px;
    color: #FFFFFF;
    background-color: #1A1A1A;
}

.blog-single-dekstop .comments {
    width: 555px;
    height: 600px;
    margin: 0 auto;
}

.blog-single-dekstop .user-comment {
    margin: 27px 0 60px;
}

.blog-single-dekstop .user-text {
    margin: 17px 0 15px;
}

.blog-single-dekstop .user-reply {
    width: 420px;
    margin: 0 0 60px auto;

}
/* Настройки blog-single-dekstop */